---
import type { GetStaticPaths } from 'astro'
import { type CollectionEntry, render } from 'astro:content'
import MainLayout from '../../layouts/MainLayout.astro'
import { capitalize, getPostsSorted } from '../../utils'

export const getStaticPaths = (async () => {
  const blogEntries = await getPostsSorted()
  return blogEntries.map((post: CollectionEntry<'blog'>, index: number) => ({
    params: { id: post.id },
    props: {
      post,
      newerPost: index === 0 ? undefined : blogEntries.at(index - 1),
      olderPost:
        index === blogEntries.length - 1
          ? undefined
          : blogEntries.at(index + 1),
    },
  }))
}) satisfies GetStaticPaths

// See alternative way to get the type of Props at
// https://docs.astro.build/en/guides/typescript/#infer-getstaticpaths-types
// (works in VSCode but not in WebStorm)
interface Props {
  post: CollectionEntry<'blog'>
  newerPost: CollectionEntry<'blog'>
  olderPost: CollectionEntry<'blog'>
}

const { post, newerPost, olderPost } = Astro.props as Props
const { Content } = await render(post)
---

<MainLayout title={post.data.title}>
  <section class="layout-center-with-margin">
    <article>
      <h1>{post.data.title}</h1>
      <time class="date" datetime={post.data.date.toISOString()}>
        {
          capitalize(
            post.data.date.toLocaleDateString('ca-ES', {
              dateStyle: 'full',
            })
          )
        }
      </time>
      <div class="content">
        <Content />
      </div>
    </article>
    <div class="prev-next-links-container">
      {
        newerPost ? (
          <a href={`/blog/${newerPost.id}`} rel="prev" class="prev-link">
            ← Següent
            <br />
            {newerPost.data.title}
          </a>
        ) : null
      }
      {
        olderPost ? (
          <a href={`/blog/${olderPost.id}`} rel="next" class="next-link">
            Anterior →<br />
            {olderPost.data.title}
          </a>
        ) : null
      }
    </div>
  </section>
</MainLayout>

<style>
  .date {
    display: block;
    margin-top: var(--layout-content-margin-0_5);
  }

  .content {
    margin-top: var(--layout-content-margin);
    line-height: var(--line-height-full-width-paragraph);
    background-color: var(--color-turquesa2);
    padding: var(--layout-content-margin-1_5) var(--layout-content-margin);
  }

  .content :global(p) {
    margin-bottom: var(--layout-content-margin-1_25);
  }
  .content :global(p:last-child) {
    margin-bottom: 0;
  }

  .prev-next-links-container {
    margin-top: var(--layout-content-margin-1_5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .prev-link {
    flex: 1;
    margin-right: var(--layout-content-margin-0_5);
  }

  .next-link {
    flex: 1;
    text-align: right;
  }
</style>
