---
import MainLayout from '../layouts/MainLayout.astro'
import CloudinaryImage from '../components/CloudinaryImage.astro'
import { llista2023, suplents2023 } from '../data/llista2023'
---

<MainLayout title="Llista">
  <section class="layout-center-with-margin">
    <h1>Llista</h1>
    <p>Eleccions municipals de maig de 2023</p>

    <ol class="llista-container">
      {
        llista2023.map((candidat, index) => (
          <li class="llista-item">
            <CloudinaryImage
              id={candidat.imageFrontal}
              alt={candidat.nom}
              resizeWidth={400}
              class="image"
              loading={index >= 3 ? 'lazy' : 'eager'}
            />
            <p class="nom">{candidat.nom}</p>
            <p class="bio">{candidat.bio}</p>
          </li>
        ))
      }
    </ol>

    <h2 class="suplents">Suplents</h2>
    <CloudinaryImage
      id="2023-03-05-vermut-presentacio/DSC03151"
      alt="Suplents eleccions municipals 2023"
      resizeWidth={860}
      width="100%"
      height="auto"
      style={'aspect-ratio: 5472/3648'}
      loading={'lazy'}
    />
    <ol class="llista-container">
      {
        suplents2023.map((suplent) => (
          <li class="llista-item">
            <p class="nom">{suplent.nom}</p>
            <p class="bio">{suplent.bio}</p>
          </li>
        ))
      }
    </ol>

    <CloudinaryImage
      id="2023-03-05-vermut-presentacio/DSC03149"
      alt="Llista eleccions municipals 2023"
      resizeWidth={860}
      width="100%"
      height="auto"
      style={'aspect-ratio: 5472/3648; margin-top: 50px;'}
      loading={'lazy'}
    />
  </section>
</MainLayout>

<style>
  .llista-container {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-gap: var(--layout-content-margin);
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  .llista-item {
    display: flex;
    flex-direction: column;
    background-color: var(--color-groc);
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 3648/5472;
  }

  .nom {
    margin: 0;
    padding: var(--layout-content-margin-0_5);
    background-color: var(--color-groc2);
    font-weight: bold;
    font-size: var(--font-size-24);
  }

  .bio {
    padding: var(--layout-content-margin-0_5);
  }

  .suplents {
    margin-bottom: var(--layout-content-margin);
  }
</style>
