---
import '../styles/global.css'

import Header from '../components/Header.astro'
import NavLink from '../components/link/NavLink.astro'
import Footer from '../components/Footer.astro'

import { SITE_DESCRIPTION, SITE_TITLE } from '../constants'
// TODO meta tags https://stackblitz.com/github/withastro/astro/tree/latest/examples/blog?file=src%2Fcomponents%2FBaseHead.astro
// See meta tags here https://github.com/joshfinnie/joshfinnie.com/blob/main/src/components/BaseHead.astro
// Examples of meta tags: https://contenda.co/

// TODO <meta property="og:url" content="" /> see https://developers.facebook.com/docs/sharing/webmasters#markup
// TODO <meta property="og:type" content="website/article" /> see types at https://ogp.me/#types

interface Props {
  /** Should pass `null` on the home page only. */
  title: string | null
  description?: string
  image?: string
}

let { title, description, image } = Astro.props
if (title === null) {
  title = SITE_TITLE
} else {
  title = `${title} | ${SITE_TITLE}`
}
if (!description) {
  description = SITE_DESCRIPTION
}
if (!image) {
  image = '/estrella-unitat.svg'
}
---

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/estrella-unitat.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@unitatargentona" />
    <meta name="twitter:creator" content="@unitatargentona" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
  </head>
  <body>
    <div>
      <Header />
      <nav class="layout-center">
        <NavLink href="/">Inici</NavLink>
        <NavLink href="/llista">Llista</NavLink>
        <NavLink href="/programa">Programa</NavLink>
        <NavLink href="/blog">Blog</NavLink>
        <NavLink href="/que-es-unitat">Què és Unitat?</NavLink>
      </nav>
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
